body{
    background-color: #e8e8e8;
    text-align: center;
}
header div{
    background-color: #66b3ff;
    text-align: center;
    width: 30%;
    border-radius: 20px;
    margin: auto;
    color: black;
    margin-bottom: 2%;
}
td{
    border-bottom: 2px solid cyan;
    text-align: left;
    max-width: 20%;
}
th{
    text-align: left;
}
a{
    text-decoration: none;
    color: black;
}
table{
    margin-bottom: 5%;
    margin: auto;
    width: 50%;
}
.icono{
    width: 40px;
    opacity: 0.8;  
    text-align: center;
}
.icono:hover{
    opacity: 1;
}
footer{
    background-color: #66b3ff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}
footer a{
    color: black;
}
.script{
    background-color: #66b3ff;
    padding: 15px;
    width: 3%;
    font-weight: bold;
}
form{
    display: inline-block;
    margin-bottom: 4%;
}
.images{
    text-align: center;
}
.iconoFooter{
    width: 30px;
    opacity: 0.8;    
    position: fixed;
    left: 90vw;
    top: 96vh;
}
.iconoFooter:hover{
    opacity: 1;
}
.bandera{
    width: 60px;
    opacity: 0.8;    
    position: relative;
    left: 400px;
    top: -240px;
}
.bandera:hover{
    opacity: 1;
}